<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIwzqJwJeAa75AV-t5_seN3thaEE9hG0o</string>
	<key>GCM_SENDER_ID</key>
	<string>312135412402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MB.MBAPP</string>
	<key>PROJECT_ID</key>
	<string>mbapp-b0f93</string>
	<key>STORAGE_BUCKET</key>
	<string>mbapp-b0f93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>NSContactsUsageDescription</key>
	<string>We need access to your contacts to find friends who are using the app.</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:312135412402:ios:5ddd00790736e90228b7ab</string>
</dict>
</plist>
